@charset "UTF-8";



.header {
	text-align: center;
	font-size: 10pt;

}

.message {
	font-size: 10pt;
}

.large-message {
	font-size: 15pt;
	font-weight: bold;
}

.small-message {
	font-size: 8pt;
}

.button {
	font-size: 10pt;
	font-weight: bold;
}

.large-button {
	font-size: 15pt;
	font-weight: bold;
}

.small-button {
	font-size: 8pt;
	font-weight: bold;
}



.noborder {

	margin-right:auto;
	margin-left:auto;
}

.footer {
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	font-size: 8pt;
}

td {
	border: 1px solid black;
	border-color: black;
	font-size: 10pt;
	width: 3.8461%;
	color: red;
	margin-right:auto;
	margin-left:auto;
}

th{
	border: 0px none;
	font-size: 10pt;
	width: 3.8461%;
	color: black;
	margin-right:auto;
	margin-left:auto;
}

.box1, .box2, .box3{
  float: left;
  border-color: yellow;
  width: 33.3333%;
  text-align: center;
  font-size: 10pt;
}

.boxA {
  border: none;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.txt {

	text-align: center;
}

.line-height {
	vertical-align: middle;
}
